div[data-testid="stButton"]>button {
    border-radius: 12px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
}

div[data-testid="stButton"]>button:hover {
    border-color: #ff4b4b;
}

div[data-testid="stButton"]>button[kind="primary"] {
    background-color: #ff4b4b;
    color: white;
    border: none;
}

div[data-testid="stButton"]>button[kind="primary"]:hover {
    background-color: #e63f3f;
}

div[data-testid="stTextArea"] [data-testid="InputInstructions"] {
    display: none;
}